@font-face {
    font-family: "Overpass";
    src: url("../fonts/Overpass-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Regular.ttf");
}
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    --var-cta-text-light-red: hsl(356, 100%, 66%);
    --var-cta-hover-very-light-red: hsl(355, 100%, 74%);
    --var-headings-very-dark-blue: hsl(208, 49%, 24%);
    --var-text-white: hsl(0, 0%, 100%);
    --var-text-white-transparent: hsla(0, 0%, 100%, 65%);
    --var-footer-text-grayish-blue: hsl(240, 2%, 79%);
    --var-body-copy-very-dark-grayish-blue: hsl(207, 13%, 34%);
    --var-footer-background-very-dark-black-blue: hsl(240, 10%, 16%);
    --var-gradient-cta-very-light-red: hsl(13, 100%, 72%);
    --var-gradient-cta-light-red: hsl(353, 100%, 62%);
    --var-gradient-body-very-dark-gray-blue: hsl(237, 17%, 21%);
    --var-gradient-body-very-dark-desaturated-blue: hsl(237, 23%, 32%);
    

    font-family: Overpass;
    font-size: 16px;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 12vw;
    padding-right: 12vw;
    padding-top: 5rem;
    background-image:linear-gradient(to right, var(--var-gradient-cta-very-light-red), var(--var-gradient-cta-light-red));
    background-size: cover;
    border-radius: 0 0 0 5rem;
    overflow: hidden;
}
.navbar, .register, .banner{
    z-index: 1;
}
.header-background{
    right: 0;
    top: 50%;
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: auto;
    transform: translateY(-50%) translateX(-50%);
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8rem;
    width: 100%;
}
.navigation{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.nav-items{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: var(--var-text-white);
}
.nav-item-name{
    font-size: 0.8rem;
    font-weight:400;
    font-family: Ubuntu;
    color: var(--var-text-white-transparent);
}
.nav-item-dropdown{
    display: none;
    position: absolute;
}
.register{
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}
.button-register{
    padding: 0 2rem;
    text-align: center;
    vertical-align: middle;
    border-radius: 1.5rem;
}
.button-register.button-simple{
    font-size: 1rem;
}
.button-register.button-white{
    font-size: 0.9rem;
    font-weight: 600;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 12rem;
    gap: 3rem;
}
.banner-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--var-text-white);
    gap: 0.5rem;
}
.banner-text-heading{
    font-size: 3.5rem;
    font-weight: 500;
}
.banner-text-description{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--var-text-white-transparent);
}
.banner-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
button{
    font-family: Ubuntu;
    border: transparent;
    background-color: transparent;
}
.button-white{
    background-color: var(--var-text-white);
    color: var(--var-cta-text-light-red);
    border: 0 solid transparent;
    text-align: center;
    font-weight: 600;
}
.button-simple{
    background-color: transparent;
    color: var(--var-text-white)
}
.button-banner{
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
.button-banner.button-simple{
    border: 1px solid var(--var-text-white);
}
main{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.attributes{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.attribute{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.attribute-heading{
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--var-headings-very-dark-blue);
}
.attribute-description{
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--var-body-copy-very-dark-grayish-blue);
    line-height: 1.9rem;
}
.attributes-bloc{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    overflow: hidden;
}
.bloc-1 .attributes{
    padding-left: 12vw;
}
.illustration-1{
    transform: translateX(8%); 
}
.bloc-2{
    position: relative;
    overflow: visible;
    background-image: linear-gradient(40deg, var(--var-gradient-body-very-dark-gray-blue), var(--var-gradient-body-very-dark-desaturated-blue));
    border-radius: 0 6rem 0 8rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.bloc-2 .attributes-bloc{
    overflow: visible;
}
.bloc-2 .background{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    z-index: 1;
    overflow: hidden;
    transform: translateY(-50%);
    border-radius: 0 6rem 0 8rem;
}
.bloc-2-background{
    transform: translateY(-50%) translateX(-23%);
}
.bloc-2 .attributes{
    padding-right: 12vw;
}
.bloc-2 .attributes, .bloc-2 .illustration-2{
    z-index: 2;
}
.illustration-2{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
}
.phones{
    margin-left: 12vw;
    transform: translateX(-40px) translateY(-30%);
    position: absolute;
    width: 552px;
    height: 579px;
}
.bloc-2 .attribute-heading{
    font-size: 2.4rem;
    color: var(--var-text-white);
}
.bloc-2 .attribute-description{
    color: var(--var-text-white);
}
.bloc-3 .attributes{
    padding-right: 12vw;
}
.illustration-3{
    display: flex;
    justify-content: flex-start;
}
.illustration-3 img{
    transform: translateX(-28.5%);
}
.footer{
    width: 100%;
    background-color: var(--var-footer-background-very-dark-black-blue);
    padding-left: 12vw;
    padding-top: 6rem;
    padding-bottom: 7rem;
    border-radius: 0 6rem 0 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 12rem;
    flex-wrap: wrap;
}
.footer-navbar{
    padding-top: 0.8rem;
    display: flex;
    flex-direction: row;
    gap: 12rem;
}
.footer-nav{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}
.footer-nav ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-nav-item{
    font-size: 1rem;
    color: var(--var-text-white);
}
.footer-nav-link{
    text-decoration: none;
    color: var(--var-footer-text-grayish-blue);
}